# Supabase Configuration
# Uzyskaj te wartości z panelu Supabase: https://supabase.com/dashboard
NEXT_PUBLIC_SUPABASE_URL=https://ssmcbdgnxabqkhdjrpzk.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNzbWNiZGdueGFicWtoZGpycHprIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Njk1NTAxNzksImV4cCI6MjA4NTEyNjE3OX0.dKoc2LAZ2yBxyxzRtACdIr6MN1y7owUoIwv_GdPeq4o

# URL aplikacji (dla generowania QR kodów)
NEXT_PUBLIC_APP_URL=http://localhost:3000
